<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %> 

    <div class="blogs content">
        <h2>All Players</h2>

        <% if(players.length > 0){ %> 
            <% players.forEach(player => { %>
                <a class="single" href="/players/<%= player.name %>">
                    <h3 class="title"><%= player.name %> </h3>
                    <p class="snippet"><%= player.data %> </p>
                </a>
            <% }) %> 
        <% } else {%> 
            <p>There is no charater to display...</p>
        <% } %> 
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>